<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Loader during database and sdk initialization -->
  <div class="splash-content" *ngIf="showLoader">
    <ion-spinner name="crescent"></ion-spinner>
    <div>
      Loading
      <div class="percentage" *ngIf="loading*100 > 0">{{ loading * 100 | number: '1.0-0' }}%</div>
    </div>
  </div>

  <!-- Initializes show scan buttons -->
  <div *ngIf="!showLoader">
    <ion-button (click)="startScan()">OCR scan</ion-button>
    <ion-button (click)="startScan(true)">RFID scan</ion-button>
  </div>
</ion-content>
