ion-content {
  .splash-content {
    //color: #ffffff;
    padding: 50% 15px;
    height: 90%;
    ion-spinner {
      margin: 0 auto;
      //color: #ffffff;
      transform: scale(3);
      display: flex;
      position: relative;
      top: 40%;
    }
    div {
      display: block;
      text-align: center;
      //color: var(--ion-color-white);
      margin-top: 20px;
      position: relative;
      top: 55%;
      font-size: 22px;
    }
  }
}
